<!--Footer Section-->
@{
    string tiktokUsername = "@xaumanforex_xmf";
}

<footer class="footer text-muted bg-dark" id="footer">
    <div class="gutter"></div>
    <div class="container overflow-hidden">
        <div class="row align-items-center">
            <div class="border-bottom border-danger">
            </div>
            <div id="Follow" class="col-md-6 col-lg-6 col-sm-6 col-xs-12 text-lg-start text-sm-start text-s-center">
                <p class="mb-0 social-title">
                    Follow us on social media:
                </p>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 text-lg-end text-sm-end text-s-center">
                <ul class="social-list">
                    <li>
                        <a target="_blank" rel="noopener noreferrer" class="social-list-facebook"
                           href="https://www.facebook.com/profile.php?id=100089398025541" aria-label="facebook follow button">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" class="social-list-twitter"
                           href="https://twitter.com/XaumanForex" aria-label="twitter follow button">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" class="social-list-instagram"
                           href="https://www.instagram.com/xaumanforex/" aria-label="instagram follow button">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.tiktok.com/@tiktokUsername"
                           aria-label="tiktok follow button">
                            <i class="bi bi-tiktok"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" class="social-list-telegram"
                           href="https://t.me/+6juAbHJs9wI4ZmI0" aria-label="telegram follow button">
                            <i class="fa fa-telegram"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="mb-4 border-bottom border-danger">
            </div>
        </div>
        <div class="row gy-3">
            <!-- footer about start -->
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="font-montserrat text-uppercase color-black list-title">About Us</div>
                <p class="text-darken">
                    We are seasoned Traders in the financial markets, specializing in Gold Trading. We help individuals and organizations achieve
                    their financial goals through trading the markets.
                </p>
            </div><!-- footer menu one start -->
            <div class="col-md-2 col-md-offset-1 col-sm-3 col-xs-4">
                <div class="font-montserrat text-uppercase color-black list-title col-footer">
                    Menu
                    <button type="button" id="btn-close-1" class="btn-close btn-close-white" aria-label="Collapse1"
                            data-bs-toggle="collapse" data-bs-target="#footer-menu" aria-expanded="false" aria-controls="collapseExample1" data-click-count></button>

                </div>
                <div class="collapse d-md-block text-darken" id="footer-menu">
                    <ul class="no-icon-list">
                        <li>
                            <a asp-area="" asp-page="/Home">Home</a>
                        </li>
                        <li>
                            <a asp-area="" asp-page="/About">About</a>
                        </li>
                        <li>
                            <a asp-area="" asp-page="/Knowledge">Knowledge</a>
                        </li>
                        <li>
                            <a asp-area="" asp-page="/Analysis">Analysis</a>
                        </li>
                        <li>
                            <a asp-area="" asp-page="/TradingBots">Trading Bots</a>
                        </li>
                    </ul>
                </div>
            </div><!-- footer menu two start -->
            <div class="col-md-2 col-sm-3 col-xs-4">
                <div class="font-montserrat text-uppercase list-title col-footer">
                    Learn more
                    <button type="button" id="btn-close-2" class="btn-close btn-close-white" aria-label="Collapse2"
                            data-bs-toggle="collapse" data-bs-target="#footer-learn" aria-expanded="false" aria-controls="collapseExample2" data-click-count></button>
                </div>
                <div class="collapse d-md-block text-darken" id="footer-learn">
                    <ul class="no-icon-list ">
                        <li>
                            <a asp-area="" asp-page="/Forex">Forex Market</a>
                        </li>
                        <li>
                            <a asp-area="" asp-page="/Gold">Gold Market</a>
                        </li>
                        <li>
                            <a asp-area="" asp-page="/FAQ">FAQ</a>
                        </li>
                    </ul>
                </div>
            </div><!-- footer menu three start -->
            <div class="col-md-2 col-sm-3 col-xs-4">
                <div class="font-montserrat text-uppercase list-title col-footer">
                    Support
                    <button type="button" id="btn-close-3" class="btn-close btn-close-white" aria-label="Collapse3"
                            data-bs-toggle="collapse" data-bs-target="#footer-support" aria-expanded="false" aria-controls="collapseExample3" data-click-count></button>
                </div>
                <div class="collapse d-md-block text-darken" id="footer-support">
                    <ul class="no-icon-list">
                        <li>
                            <a asp-area="" asp-page="/Contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div><!-- footer social icons start -->
            <div class="col-md-2 col-sm-3 col-xs-4">
                <div class="font-montserrat text-uppercase list-title col-footer">
                    Legal
                    <button type="button" id="btn-close-4" class="btn-close btn-close-white" aria-label="Collapse4"
                            data-bs-toggle="collapse" data-bs-target="#footer-legal" aria-expanded="false" aria-controls="collapseExample4" data-click-count></button>
                </div>
                <div class="collapse d-md-block text-darken" id="footer-legal">
                    <ul class="no-icon-list">
                        <li>
                            <a asp-area="" asp-page="/Privacy">Privacy Policy</a>
                        </li>
                        <li>
                            <a asp-area="" asp-page="/TermsofUse">Terms of Use</a>
                        </li>
                        <li>
                            <a asp-area="" asp-page="/RiskDisclosure">Risk Disclosure</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="gutter">
        </div>
        <div class="row">
            <div class="my-2 gx-5 border-bottom border-danger">
            </div>
            <div class="col-md-6 text-darken">
                <p>
                    <strong class="text-red">Risk Disclosure:</strong> Trading in financial markets involves significant risk and can result in financial loss. Our educational resources are
                    designed to help you understand the basics of trading and develop your skills, but they do not guarantee profitable trading or protect
                    against losses.
                </p>
                <p>
                    You should carefully consider your financial situation and investment objectives before engaging in trading, seek professional
                    financial advice, and only invest money that you can afford to lose. Remember that the markets can be volatile and unpredictable, and
                    leverage and margin trading can increase the risks associated with trading.
                </p>
                <p>
                    By using our educational resources, you acknowledge that you
                    are responsible for your own trading decisions and the associated risks.
                </p>
            </div>
            <div class="col-md-6 text-darken">
                <p>
                    <strong class="text-blue">CFDs (Contracts-for-Difference)</strong> are complex instruments and come with a high risk of losing money rapidly due to leverage. 84.60% of retail investor accounts lose money when
                    trading CFDs.
                </p>
                <p>
                    You should consider whether you understand how CFDs work and whether you can afford
                    to take the high risk of losing your money.
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-black">
        <div class="row">
            <div class="col-md-6 mb-2 col-lg-6 col-sm-12 text-center">
                &copy
                <strong class="text-red">XAU</strong>
                <span class="text-blue">man </span>Forex 2023 - All Rights Reserved.
            </div>
            <div class="col-md-6 mb-2 col-lg-6 col-sm-12 text-center text-muted">
                Designed by
                <strong class="text-white">Blasio</strong>
            </div>
        </div>
    </div>
</footer>
