<!--Header Section-->
<div>
    <div id="rev_slider_1" class="rev_slider" data-version="5.4.5" style="display:none">
        <ul>
            <li data-index='rs-371' data-transition='parallaxtotop' data-slotamount='default' data-easein='default'
                data-easeout='default' data-masterspeed='default' data-thumb='~/src/img/slider/FX-01.jpg'
                data-rotate='0' data-saveperformance='off' data-title='Parallax to Bottom' data-description=''>
                <img src="~/src/img/slider/FX-01.jpg" alt="" data-bgposition="center center"
                     data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
                     <div class="carousel-logo"> <img src="~/src/logos/XAU-114x114.webp" class="img-fluid"></div>
            </li>
            <li data-index='rs-371' data-transition='parallaxtobottom' data-slotamount='default'
                data-easein='default' data-easeout='default' data-masterspeed='default'
                data-thumb='~/src/img/slider/FX-01.jpg' data-rotate='0' data-saveperformance='off'
                data-title='Parallax to Bottom' data-description=''>
                <img src="~/src/img/slider/FX-02.jpg" alt="" data-bgposition="center center"
                     data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
            </li>
            <li data-index='rs-371' data-transition='parallaxtoleft' data-slotamount='default' data-easein='default'
                data-easeout='default' data-masterspeed='default' data-thumb='~/src/img/slider/FX-01.jpg'
                data-rotate='0' data-saveperformance='off' data-title='Parallax to Bottom' data-description=''>
                <img src="~/src/img/slider/FX-03.jpg" alt="" data-bgposition="center center"
                     data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
            </li>
            <li data-index='rs-371' data-transition='parallaxtoright' data-slotamount='default'
                data-easein='default' data-easeout='default' data-masterspeed='default'
                data-thumb='~/src/img/slider/FX-01.jpg' data-rotate='0' data-saveperformance='off'
                data-title='Parallax to Bottom' data-description=''>
                <img src="~/src/img/slider/FX-04.jpg" alt="" data-bgposition="center center"
                     data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
            </li>
            <li data-index='rs-381' data-transition='3dcurtain-vertical' data-slotamount='default'
                data-easein='default' data-easeout='default' data-masterspeed='default'
                data-thumb='~/src/img/slider/FX-04.jpg' data-rotate='0' data-saveperformance='off'
                data-title='3D Curtain Vertical' data-description=''>
                <img src="~/src/img/slider/FX-05.jpg" alt="" data-bgposition="center center"
                     data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
            </li>
        </ul>
    </div>
</div>
<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-black background-bg shadow h-100 bg-body-tertiary" id="nav-bg">
    <div class="position-absolute top-0 start-0 w-100 h-100 bg-black opacity-50" style="pointer-events: none"></div>
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-page="/Index">
            <img src="~/src/logos/XAU-32x32.webp" alt="Xauman Logo"
                 class="d-inline-block align-text-center mx-2" /><strong class="text-color-red">XAU</strong><strong class="text-color-blue">man</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasXauman"
                aria-controls="offcanvasXauman" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarText">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-area="" asp-page="/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" asp-area="" asp-page="/About">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" asp-area="" asp-page="/Knowledge">Knowledge</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" asp-area="" asp-page="/Analysis">Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" asp-area="" asp-page="/Trading Bots">Trading Bots</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" asp-area="" asp-page="/Contact">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasXauman"
     aria-labelledby="offcanvasXaumanLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasXaumanLabel">
            <a class="navbar-brand" href="index.html">
                <img src="src/logos/XAU-32x32.webp" alt="Xauman Logo"
                     class="d-inline-block align-text-center mx-2" /><strong class="text-color-red">XAU</strong><strong class="text-color-blue">man</strong>
            </a>
        </h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-center me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
            </li>
            <li class="nav-item">
                <button class="btn btn-secondary bg-dark" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseXauman" aria-expanded="false" aria-controls="collapseXauman">
                    Share on Social Media
                </button>
                <div class="collapse bg-black" id="collapseXauman">
                    <ul class="social-list vertical">
                        <li class="border-bottom border-secondary mx-3 my-2">
                            <a target="_blank" rel="noopener noreferrer" class="social-list-facebook"
                               href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fxauman.com"
                               aria-label="facebook follow button"><i class="fa fa-facebook align-middle"></i>Facebook</a>
                        </li>
                        <li class="border-bottom border-secondary mx-3 my-2">
                            <a target="_blank" rel="noopener noreferrer" class="social-list-twitter"
                               href="https://twitter.com/intent/tweet?text=We%20are%20seasoned%20Gold%20Forex%20Traders%20helping%20individuals%20and%20institutions%20meet%20and%20surpass%20their%20financial%20goals.%20%20https://xauman.com/"
                               aria-label="twitter follow button"><i class="fa fa-twitter align-middle"></i>Twitter</a>
                        </li>
                        <li class="border-bottom border-secondary mx-3 my-2">
                            <a target="_blank" rel="noopener noreferrer" class="social-list-whatsapp"
                               href="whatsapp://send?text=We%20are%20seasoned%20Gold%20Forex%20Traders%20helping%20individuals%20and%20institutions%20meet%20and%20surpass%20their%20financial%20goals.%20https://xauman.com/"
                               aria-label="whatsapp follow button"><i class="fa fa-whatsapp align-middle"></i>Whatsapp</a>
                        </li>
                        <li class="mx-3 my-2">
                            <a target="_blank" rel="noopener noreferrer" class="social-list-telegram"
                               href="https://t.me/share/url?url=https://xauman.com/&text=We are seasoned Gold Forex Traders helping individuals and institutions meet and surpass their financial goals."
                               aria-label="telegram follow button"><i class="fa fa-telegram align-middle"></i>Telegram</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <span class="navbar-brand"> Coming soon!! </span>
    </div>
</div>

