@{
    List<string> pageContent = new List<string>();
    pageContent.AddRange(new string[] { "Financial Markets", "Forex", "Foreign Exchange Market", "Gold Market", "Commodities", "Derivatives", "Forex Trading", "Contract For Difference", "Gold Trading", "Gold Traders" });
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script src="https://www.googletagmanager.com/gtag/js?tid=G-1L41JYFVYB" defer></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-1L41JYFVYB");
    </script>

    <!-- Title -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="<directive><value>;<directive><value>" />
    <meta http-equiv="cache-control" content="max-age=31536000, public" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>XAUman | @ViewData["Title"] </title>
    <!--MetaData-->
    <meta name="description"
          content="We are seasoned Gold Forex Traders helping individuals and institutions meet and surpass their financial goals." />
    <meta name="theme-color" content="#f89a4b" />
    <link rel="canonical" href="https://xauman.com/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="Website" />
    <meta property="og:title" content="XAUman Forex" />
    <meta property="og:description"
          content="We are seasoned Gold Forex Traders helping individuals and institutions meet and surpass their financial goals." />
    <meta property="og:url" content="https://xauman.com/" />
    <meta property="og:site_name" content="XAUman Forex" />
    <meta property="og:image" content="https://xauman.com/src/img/Logo.webp" />
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:height" content="720" />
    <meta name="keywords"
          content="@pageContent" />
    <meta name="author" content="XAUman Forex" />

    <!-- Favicons -->
    <link rel="shortcut icon" sizes="64x64" width="64px" height="64px" href="~/src/logos/XAU-64x64.webp" />
    <link rel="apple-touch-icon" sizes="32x32" width="32px" height="32px" href="~/src/logos/XAU-32x32.webp" />
    <link rel="apple-touch-icon" sizes="72x72" width="72px" height="72px" href="~/src/logos/XAU-72x72.webp" />
    <link rel="apple-touch-icon" sizes="114x114" width="114px" height="114px" href="~/src/logos/XAU-114x114.webp" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600&family=Playfair+Display:ital@0;1&display=swap"
          rel="stylesheet" />

    <link rel="stylesheet" href="~/css/bootstrap_custom.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
</head>
<body>
    @await Html.PartialAsync("_Header")
    <div>
        <div class="loader navbar-brand">
            <img src="src/logos/XAU-114x114.webp" alt="" />
        </div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    @await Html.PartialAsync("_Footer")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            effect: "coverflow",
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: "auto",
            coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true,
            },
            pagination: {
                el: ".swiper-pagination",
            },
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>