@{
    string tiktokUsername = "@xaumanforex_xmf";
    List<string> pageContent = new List<string>();
    pageContent.AddRange(new string[] { "Financial Markets", "Forex", "Foreign Exchange Market", "Gold Market", "Commodities", "Derivatives", "Forex Trading", "Contract For Difference", "Gold Trading", "Gold Traders" });
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script src="https://www.googletagmanager.com/gtag/js?tid=G-1L41JYFVYB" defer></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-1L41JYFVYB");
    </script>

    <!-- Title -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="<directive><value>;<directive><value>" />
    <meta http-equiv="cache-control" content="max-age=31536000, public" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>XAUman | @ViewData["Title"] </title>
    <!--MetaData-->
    <meta name="description"
          content="We are seasoned Gold Forex Traders helping individuals and institutions meet and surpass their financial goals." />
    <meta name="theme-color" content="#f89a4b" />
    <link rel="canonical" href="https://xauman.com/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="Website" />
    <meta property="og:title" content="XAUman Forex" />
    <meta property="og:description"
          content="We are seasoned Gold Forex Traders helping individuals and institutions meet and surpass their financial goals." />
    <meta property="og:url" content="https://xauman.com/" />
    <meta property="og:site_name" content="XAUman Forex" />
    <meta property="og:image" content="https://xauman.com/src/img/Logo.webp" />
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:height" content="720" />
    <meta name="keywords"
          content="@pageContent" />
    <meta name="author" content="XAUman Forex" />

    <!-- Favicons -->
    <link rel="shortcut icon" sizes="64x64" width="64px" height="64px" href="~/src/logos/XAU-64x64.webp" />
    <link rel="apple-touch-icon" sizes="32x32" width="32px" height="32px" href="~/src/logos/XAU-32x32.webp" />
    <link rel="apple-touch-icon" sizes="72x72" width="72px" height="72px" href="~/src/logos/XAU-72x72.webp" />
    <link rel="apple-touch-icon" sizes="114x114" width="114px" height="114px" href="~/src/logos/XAU-114x114.webp" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600&family=Playfair+Display:ital@0;1&display=swap"
          rel="stylesheet" />

    <link rel="stylesheet" href="~/css/bootstrap_custom.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div id="carousel-bg" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/src/img/slider/FX-01.jpg" class="d-block w-100" alt="image-slide1">
            </div>
            <div class="carousel-item">
                <img src="~/src/img/slider/FX-02.jpg" class="d-block w-100" alt="image-slide2">
            </div>
            <div class="carousel-item">
                <img src="~/src/img/slider/FX-03.jpg" class="d-block w-100" alt="image-slide3">
            </div>
            <div class="carousel-item">
                <img src="~/src/img/slider/FX-04.jpg" class="d-block w-100" alt="image-slide4">
            </div>
            <div class="carousel-item">
                <img src="~/src/img/slider/FX-05.jpg" class="d-block w-100" alt="image-slide5">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-bg" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-bg" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <header class="clearfix">
        <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-black background-bg shadow h-100" id="nav-bg">
            <div class="position-absolute top-0 start-0 w-100 h-100 bg-black opacity-50" style="pointer-events: none"></div>
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="~/src/logos/XAU-32x32.webp" alt="Xauman Logo"
                         class="d-inline-block align-text-center mx-2" /><strong class="text-color-red">XAU</strong><strong class="text-color-blue">man</strong>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasXauman"
                        aria-controls="offcanvasXauman" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <!--Desktop Navigation-->
                <div class="collapse navbar-collapse justify-content-end" id="navbarText">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" asp-area="" asp-page="/About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" asp-area="" asp-page="/Knowledge">Knowledge</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" asp-area="" asp-page="/Analysis">Analysis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" asp-area="" asp-page="/Trading Bots">Trading Bots</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" asp-area="" asp-page="/Contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <!--Desktop Navigation End-->
            </div>
        </nav>
        <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasXauman"
             aria-labelledby="offcanvasXaumanLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasXaumanLabel">
                    <a class="navbar-brand" href="index.html">
                        <img src="src/logos/XAU-32x32.webp" alt="Xauman Logo"
                             class="d-inline-block align-text-center mx-2" /><strong class="text-color-red">XAU</strong><strong class="text-color-blue">man</strong>
                    </a>
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-center me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-secondary bg-dark" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseXauman" aria-expanded="false" aria-controls="collapseXauman">
                            Share on Social Media
                        </button>
                        <div class="collapse bg-black" id="collapseXauman">
                            <ul class="social-list vertical">
                                <li class="border-bottom border-secondary mx-3 my-2">
                                    <a target="_blank" rel="noopener noreferrer" class="social-list-facebook"
                                       href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fxauman.com"
                                       aria-label="facebook follow button"><i class="fa fa-facebook align-middle"></i>Facebook</a>
                                </li>
                                <li class="border-bottom border-secondary mx-3 my-2">
                                    <a target="_blank" rel="noopener noreferrer" class="social-list-twitter"
                                       href="https://twitter.com/intent/tweet?text=We%20are%20seasoned%20Gold%20Forex%20Traders%20helping%20individuals%20and%20institutions%20meet%20and%20surpass%20their%20financial%20goals.%20%20https://xauman.com/"
                                       aria-label="twitter follow button"><i class="fa fa-twitter align-middle"></i>Twitter</a>
                                </li>
                                <li class="border-bottom border-secondary mx-3 my-2">
                                    <a target="_blank" rel="noopener noreferrer" class="social-list-whatsapp"
                                       href="whatsapp://send?text=We%20are%20seasoned%20Gold%20Forex%20Traders%20helping%20individuals%20and%20institutions%20meet%20and%20surpass%20their%20financial%20goals.%20https://xauman.com/"
                                       aria-label="whatsapp follow button"><i class="fa fa-whatsapp align-middle"></i>Whatsapp</a>
                                </li>
                                <li class="mx-3 my-2">
                                    <a target="_blank" rel="noopener noreferrer" class="social-list-telegram"
                                       href="https://t.me/share/url?url=https://xauman.com/&text=We are seasoned Gold Forex Traders helping individuals and institutions meet and surpass their financial goals."
                                       aria-label="telegram follow button"><i class="fa fa-telegram align-middle"></i>Telegram</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <span class="navbar-brand"> Coming soon!! </span>
            </div>
        </div>
    </header>
    <div class="container-fluid text-center h-100">
        <div class="loader navbar-brand">
            <img src="src/logos/XAU-114x114.webp" alt="" />
        </div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted bg-dark" id="footer">
        <div class="gutter"></div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="border-bottom border-danger">
                </div>
                <div id="Follow" class="col-md-6 col-lg-6 col-sm-6 col-xs-12 text-lg-start text-sm-start text-s-center">
                    <p class="mb-0 social-title">
                        Follow us on social media:
                    </p>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 text-lg-end text-sm-end text-s-center">
                    <ul class="social-list">
                        <li>
                            <a target="_blank" rel="noopener noreferrer" class="social-list-facebook"
                               href="https://www.facebook.com/profile.php?id=100089398025541" aria-label="facebook follow button">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" rel="noopener noreferrer" class="social-list-twitter"
                               href="https://twitter.com/XaumanForex" aria-label="twitter follow button">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" rel="noopener noreferrer" class="social-list-instagram"
                               href="https://www.instagram.com/xaumanforex/" aria-label="instagram follow button">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" rel="noopener noreferrer" href="https://www.tiktok.com/@tiktokUsername"
                               aria-label="tiktok follow button">
                                <i class="bi bi-tiktok"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" rel="noopener noreferrer" class="social-list-telegram"
                               href="https://t.me/+6juAbHJs9wI4ZmI0" aria-label="telegram follow button">
                                <i class="fa fa-telegram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mb-4 border-bottom border-danger">
                </div>
            </div>
            <div class="row gy-3">
                <!-- footer about start -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="font-montserrat text-uppercase color-black list-title">About Us</div>
                    <p class="text-darken">
                        We are seasoned Traders in the financial markets, specializing in Gold Trading. We help individuals and organizations achieve
                        their financial goals through trading the markets.
                    </p>
                </div><!-- footer menu one start -->
                <div class="col-md-2 col-md-offset-1 col-sm-3 col-xs-4">
                    <div class="font-montserrat text-uppercase color-black list-title col-footer">
                        Menu
                        <button type="button" id="btn-close-1" class="btn-close btn-close-white" aria-label="Collapse1"
                                data-bs-toggle="collapse" data-bs-target="#footer-menu" aria-expanded="false" aria-controls="collapseExample1" data-click-count></button>

                    </div>
                    <div class="collapse d-md-block text-darken" id="footer-menu">
                        <ul class="no-icon-list">
                            <li>
                                <a asp-area="" asp-page="/Home">Home</a>
                            </li>
                            <li>
                                <a asp-area="" asp-page="/About">About</a>
                            </li>
                            <li>
                                <a asp-area="" asp-page="/Knowledge">Knowledge</a>
                            </li>
                            <li>
                                <a asp-area="" asp-page="/Analysis">Analysis</a>
                            </li>
                            <li>
                                <a asp-area="" asp-page="/TradingBots">Trading Bots</a>
                            </li>
                        </ul>
                    </div>
                </div><!-- footer menu two start -->
                <div class="col-md-2 col-sm-3 col-xs-4">
                    <div class="font-montserrat text-uppercase list-title col-footer">
                        Learn more
                        <button type="button" id="btn-close-2" class="btn-close btn-close-white" aria-label="Collapse2"
                                data-bs-toggle="collapse" data-bs-target="#footer-learn" aria-expanded="false" aria-controls="collapseExample2" data-click-count></button>
                    </div>
                    <div class="collapse d-md-block text-darken" id="footer-learn">
                        <ul class="no-icon-list ">
                            <li>
                                <a asp-area="" asp-page="/Forex">Forex Market</a>
                            </li>
                            <li>
                                <a asp-area="" asp-page="/Gold">Gold Market</a>
                            </li>
                            <li>
                                <a asp-area="" asp-page="/FAQ">FAQ</a>
                            </li>
                        </ul>
                    </div>
                </div><!-- footer menu three start -->
                <div class="col-md-2 col-sm-3 col-xs-4">
                    <div class="font-montserrat text-uppercase list-title col-footer">
                        Support
                        <button type="button" id="btn-close-3" class="btn-close btn-close-white" aria-label="Collapse3"
                                data-bs-toggle="collapse" data-bs-target="#footer-support" aria-expanded="false" aria-controls="collapseExample3" data-click-count></button>
                    </div>
                    <div class="collapse d-md-block text-darken" id="footer-support">
                        <ul class="no-icon-list">
                            <li>
                                <a asp-area="" asp-page="/Contact">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div><!-- footer social icons start -->
                <div class="col-md-2 col-sm-3 col-xs-4">
                    <div class="font-montserrat text-uppercase list-title col-footer">
                        Legal
                        <button type="button" id="btn-close-4" class="btn-close btn-close-white" aria-label="Collapse4"
                                data-bs-toggle="collapse" data-bs-target="#footer-legal" aria-expanded="false" aria-controls="collapseExample4" data-click-count></button>
                    </div>
                    <div class="collapse d-md-block text-darken" id="footer-legal">
                        <ul class="no-icon-list">
                            <li>
                                <a asp-area="" asp-page="/Privacy">Privacy Policy</a>
                            </li>
                            <li>
                                <a asp-area="" asp-page="/TermsofUse">Terms of Use</a>
                            </li>
                            <li>
                                <a asp-area="" asp-page="/RiskDisclosure">Risk Disclosure</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="gutter">
            </div>
            <div class="row">
                <div class="my-2 gx-5 border-bottom border-danger">
                </div>
                <div class="col-md-6 text-darken">
                    <p>
                        <strong class="text-red">Risk Disclosure:</strong> Trading in financial markets involves significant risk and can result in financial loss. Our educational resources are
                        designed to help you understand the basics of trading and develop your skills, but they do not guarantee profitable trading or protect
                        against losses.
                    </p>
                    <p>
                        You should carefully consider your financial situation and investment objectives before engaging in trading, seek professional
                        financial advice, and only invest money that you can afford to lose. Remember that the markets can be volatile and unpredictable, and
                        leverage and margin trading can increase the risks associated with trading.
                    </p>
                    <p>
                        By using our educational resources, you acknowledge that you
                        are responsible for your own trading decisions and the associated risks.
                    </p>
                </div>
                <div class="col-md-6 text-darken">
                    <p>
                        <strong class="text-blue">CFDs (Contracts-for-Difference)</strong> are complex instruments and come with a high risk of losing money rapidly due to leverage. 84.60% of retail investor accounts lose money when
                        trading CFDs.
                    </p>
                    <p>
                        You should consider whether you understand how CFDs work and whether you can afford
                        to take the high risk of losing your money.
                    </p>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-black">
            <div class="row">
                <div class="col-md-6 mb-2 col-lg-6 col-sm-12 text-center">
                    &copy
                    <strong class="text-red">XAU</strong>
                    <span class="text-blue">man </span>Forex 2023 - All Rights Reserved.
                </div>
                <div class="col-md-6 mb-2 col-lg-6 col-sm-12 text-center text-muted">
                    Designed by
                    <strong class="text-white">Blasio</strong>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>