@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    string tiktokUsername = "@xaumanforex_xmf";
}
    <div class="row justify-content-center align-items-center">
        <div class="row-cols-lg-auto background-bg" id="main-bg"></div>
    </div>