@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    <h1 class="display-4">Welcome</h1>
    <p class="text-black">Learn about <a class="text-black"  asp-page="/Index1">building Web apps with ASP.NET Core</a>.</p>
</div>
